config PRIZE_LCD_BIAS_SGM3804
  bool CONFIG_PRIZE_LCD_BIAS_SGM3804
  depends on PRIZE_LCD_BIAS
  default no
  help
    CONFIG_PRIZE_LCD_BIAS_SGM3804

config PRIZE_LCD_BIAS_TPS65132
  bool CONFIG_PRIZE_LCD_BIAS_TPS65132
  depends on PRIZE_LCD_BIAS
  default no
  help
    CONFIG_PRIZE_LCD_BIAS_TPS65132
