config MTK_ICM426XX_G
        bool "ICM426XX for MediaTek package"
        default n
        help
        It support different gyroscope sensor.
        If this option is set,
            it will support
            ICM426XX gyroscope.
