config MTK_DA226
	bool "MTK_DA226 for MediaTek package"
	default n
	help
	  The MIR3DA is a highly integrated,
	  low power internal measurement unit
	  that provides precise acceleration
	  measurement.
	  this config will turn on accelerometer feature.